
<div class="publications">

  <h2 class="pub-year">2025</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Camargo, S., Zamponi, N., Martin, D., Turova, T., Grigera, T., Tang, Q., and Chialvo, D., “Behavior of the Scaling Correlation Functions under Severe Subsampling”, <em>Phys. Rev. E</em>, <strong>112</strong>, 014301, (2025)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/H8DNACU2/Camargo et al. - 2025 - Behavior of the scaling correlation functions under severe subsampling.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/mdf8-6w38" target="_blank">DOI</a> | <a href="/assets/bib/camargo2025.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Ferretti, F., Giardina, I., Grigera, T., Pisegna, G., and Veca, M., “Out-of-Equilibrium Response and Fluctuation-Dissipation Violations across Scales in Flocking Systems”, <em>Phys. Rev. Research</em>, <strong>7</strong>, L032006, (2025)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/BB286B92/Ferretti et al. - 2025 - Out-of-equilibrium response and fluctuation-dissipation violations across scales in flocking systems.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/dg4n-1f4f" target="_blank">DOI</a> | <a href="/assets/bib/ferretti2025.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2024</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Almeira, J., Grigera, T., Martin, D., Chialvo, D., and Cannas, S., “Mean-Field Solution of the Neural Dynamics in a {{Greenberg-Hastings}} Model with Excitatory and Inhibitory Units”, <em>Phys. Rev. E</em>, <strong>110</strong>, 014130, (2024)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/NKRVUGTP/Almeira et al. - 2024 - Mean-field solution of the neural dynamics in a Gr.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.110.014130" target="_blank">DOI</a> | <a href="/assets/bib/almeira2024.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Carruitero, S., Duran, A., Pisegna, G., Sturla, M., and Grigera, T., “Inertial Spin Model of Flocking with Position-Dependent Forces”, <em>Phys. Rev. E</em>, <strong>110</strong>, 014408, (2024)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/IAWUX8YT/Carruitero et al. - 2024 - Inertial spin model of flocking with position-dependent forces.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.110.014408" target="_blank">DOI</a> | <a href="/assets/bib/carruitero2024.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Crist{\'i}n, J., Giardina, I., Grigera, T., and Veca, M., “Discrete {{Laplacian}} Thermostat for Flocks and Swarms: The Fully Conserved {{Inertial Spin Model}}”, <em>J. Phys. A: Math. Theor.</em>, <strong>57</strong>, 415002, (2024)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/PPB4IH5G/Cavagna et al. - 2024 - Discrete Laplacian thermostat for flocks and swarms the fully conserved Inertial Spin Model.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1088/1751-8121/ad7ca0" target="_blank">DOI</a> | <a href="/assets/bib/cavagna2024.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2023</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Camargo, S., Martin, D., Trejo, E., De Florian, A., Nowak, M., Cannas, S., Grigera, T., and Chialvo, D., “Scale-free correlations in the dynamics of a small {($N \sim 10000$)} cortical network”, <em>Phys. Rev. E</em>, <strong>108</strong>, 034302, (2023)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/XS7ARN9C/Camargo et al. - 2023 - Scale-free correlations in the dynamics of a small.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.108.034302" target="_blank">DOI</a> | <a href="/assets/bib/camargo2023.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Di Carlo, L., Giardina, I., Grigera, T., Melillo, S., Parisi, L., Pisegna, G., and Scandolo, M., “Natural Swarms in 3.99 Dimensions”, <em>Nat. Phys.</em>, <strong>19</strong>, 1043--1049, (2023)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/HEH9G64I/41567_2023_2028_MOESM1_ESM.pdf;/home/tomas/Zotero/storage/M6Q3PUF9/Cavagna et al. - 2023 - Natural swarms in 3.99 dimensions.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1038/s41567-023-02028-0" target="_blank">DOI</a> | <a href="/assets/bib/cavagna2023a.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Fort, H., and Grigera, T., “Testing for Stationary Dynamics in the {{Barro Colorado Island}} Forest”, <em>Ecological Indicators</em>, <strong>146</strong>, 109880, (2023)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/KCKTMGGT/Cavagna et al. - 2023 - Testing for stationary dynamics in the Barro Color.pdf;/home/tomas/Zotero/storage/ZAKY759V/S1470160X23000225.html" target="_blank">PDF</a> | <a href="https://doi.org/10.1016/j.ecolind.2023.109880" target="_blank">DOI</a> | <a href="/assets/bib/grigera-fort-cavagna2023.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Lavalle, N., Chara, O., and Grigera, T., “Fluctuations in Tissue Growth Portray Homeostasis as a Critical State and Long-Time Non-{{Markovian}} Cell Proliferation as {{Markovian}}”, <em>Royal Society Open Science</em>, <strong>10</strong>, 230871, (2023)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/HHNF3J5H/Lavalle et al. - 2023 - Fluctuations in tissue growth portray homeostasis .pdf;/home/tomas/Zotero/storage/XK4GW5ZI/rsos230871_si_001.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1098/rsos.230871" target="_blank">DOI</a> | <a href="/assets/bib/lavalle2023.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Wood, K., Comba, A., Motsch, S., Grigera, T., and Lowenstein, P., “Scale-Free Correlations and Potential Criticality in Weakly Ordered Populations of Brain Cancer Cells”, <em>Science Advances</em>, <strong>9</strong>, eadf7170, (2023)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/REEVCJ2L/Wood et al. - 2023 - Scale-free correlations and potential criticality .pdf;/home/tomas/Zotero/storage/Z69H3E3E/sciadv.adf7170_sm.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1126/sciadv.adf7170" target="_blank">DOI</a> | <a href="/assets/bib/wood2023.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2022</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Acevedo, S., Lamas, C., Costa Duran, A., Sturla, M., and Grigera, T., “On the Neural Network Flow of Spin Configurations”, <em>Computational Materials Science</em>, <strong>213</strong>, 111634, (2022)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/MP57DYZA/Acevedo - 2022 - On the neural network flow of spin configurations.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1016/j.commatsci.2022.111634" target="_blank">DOI</a> | <a href="/assets/bib/acevedo2022.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Almeira, J., Grigera, T., Chialvo, D., and Cannas, S., “Tricritical Behavior in a Neural Model with Excitatory and Inhibitory Units”, <em>Phys. Rev. E</em>, <strong>106</strong>, 054140, (2022)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/UMREN8AK/Almeira et al. - 2022 - Tricritical behavior in a neural model with excita.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.106.054140" target="_blank">DOI</a> | <a href="/assets/bib/almeira2022.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Culla, A., Feng, X., Giardina, I., Grigera, T., {Kion-Crosby}, W., Melillo, S., Pisegna, G., Postiglione, L., and Villegas, P., “Marginal Speed Confinement Resolves the Conflict between Correlation and Control in Collective Behaviour”, <em>Nat Commun</em>, <strong>13</strong>, 2315, (2022)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/PS22MS4W/Cavagna et al. - 2022 - Marginal speed confinement resolves the conflict b.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1038/s41467-022-29883-4" target="_blank">DOI</a> | <a href="/assets/bib/cavagna2022.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Culla, A., and Grigera, T., “Renormalization Group Study of Marginal Ferromagnetism”, <em>Phys. Rev. E</em>, <strong>106</strong>, 054136, (2022)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/LSBARDRL/Cavagna et al. - 2022 - Renormalization group study of marginal ferromagne.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.106.054136" target="_blank">DOI</a> | <a href="/assets/bib/cavagna2022a.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Fabricius, G., Borzi, R., Caminos, J., and Grigera, T., “Immunity Acquired by a Minority Active Fraction of the Population Could Explain {{COVID-19}} Spread in {{Greater Buenos Aires}} ({{June}}--{{November}} 2020)”, <em>Epidemiology \& Infection</em>, <strong>150</strong>, e84, (2022)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/S2K2RVUJ/Fabricius et al. - 2022 - Immunity acquired by a minority active fraction of.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1017/S0950268822000656" target="_blank">DOI</a> | <a href="/assets/bib/fabricius2022.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Rubio Puzzo, M., Loscar, E., De Virgiliis, A., and Grigera, T., “Short-Time Dynamics in Active Systems: The {{Vicsek}} Model”, <em>J. Phys.: Condens. Matter</em>, <strong>34</strong>, 314001, (2022)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/TU5KSHEA/Rubio Puzzo et al. - 2022 - Short-time dynamics in active systems the Vicsek .pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1088/1361-648X/ac7429" target="_blank">DOI</a> | <a href="/assets/bib/rubiopuzzo2022.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Trejo, E., Martin, D., De Zoysa, D., Bowen, Z., Grigera, T., Cannas, S., Losert, W., and Chialvo, D., “Finite-Size Correlation Behavior near a Critical Point: {{A}} Simple Metric for Monitoring the State of a Neural Network”, <em>Phys. Rev. E</em>, <strong>106</strong>, 0543143, (2022)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/Z9NVX7WZ/Trejo - 2022 - Finite-size correlation behavior near a critical p.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.106.054313" target="_blank">DOI</a> | <a href="/assets/bib/trejo2022.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2021</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Cavagna, A., Di Carlo, L., Giardina, I., Grigera, T., and Pisegna, G., “Equilibrium to Off-Equilibrium Crossover in Homogeneous Active Matter”, <em>Phys. Rev. Research</em>, <strong>3</strong>, 013210, (2021)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/VEMJ55R8/Cavagna et al. - 2021 - Equilibrium to off-equilibrium crossover in homoge.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevResearch.3.013210" target="_blank">DOI</a> | <a href="/assets/bib/cavagna2021.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Di Carlo, L., Giardina, I., Grigera, T., Pisegna, G., and Scandolo, M., “Dynamical {{Renormalization Group}} for {{Mode-Coupling Field Theories}} with {{Solenoidal Constraint}}”, <em>J Stat Phys</em>, <strong>184</strong>, 26, (2021)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/WY63WQDG/Cavagna et al. - 2021 - Dynamical Renormalization Group for Mode-Coupling .pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1007/s10955-021-02800-7" target="_blank">DOI</a> | <a href="/assets/bib/cavagna2021a.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Fort, H. and Grigera, T., “A New Early Warning Indicator of Tree Species Crashes from Effective Intraspecific Interactions in Tropical Forests”, <em>Ecological Indicators</em>, <strong>125</strong>, 107506, (2021)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/UW8XAWLY/Fort and Grigera - 2021 - A new early warning indicator of tree species cras.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1016/j.ecolind.2021.107506" target="_blank">DOI</a> | <a href="/assets/bib/fort2021.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Fort, H. and Grigera, T., “A Method for Predicting Species Trajectories Tested with Trees in Barro Colorado Tropical Forest”, <em>Ecological Modelling</em>, <strong>446</strong>, 109504, (2021)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/TRTZ2NAQ/Fort and Grigera - 2021 - A method for predicting species trajectories teste.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1016/j.ecolmodel.2021.109504" target="_blank">DOI</a> | <a href="/assets/bib/fort2021a.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Grigera, T., “Correlation Functions as a Tool to Study Collective Behaviour Phenomena in Biological Systems”, <em>J. Phys. Complex.</em>, <strong>2</strong>, 045016, (2021)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/PMIIENRY/Grigera - 2021 - Correlation functions as a tool to study collectiv.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1088/2632-072X/ac2b06" target="_blank">DOI</a> | <a href="/assets/bib/grigera2021.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Martin, D., Ribeiro, T., Cannas, S., Grigera, T., Plenz, D., and Chialvo, D., “Box Scaling as a Proxy of Finite Size Correlations”, <em>Sci Rep</em>, <strong>11</strong>, 15937, (2021)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/6V935HPL/Martin et al. - 2021 - Box scaling as a proxy of finite size correlations.pdf;/home/tomas/Zotero/storage/WSZ8BPFG/Martin et al. - Supplemental Material of the manuscript Box scali.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1038/s41598-021-95595-2" target="_blank">DOI</a> | <a href="/assets/bib/martin2021.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      S{\'a}nchez Diaz, M., Aguilar Trejo, E., Martin, D., Cannas, S., Grigera, T., and Chialvo, D., “Similar Local Neuronal Dynamics May Lead to Different Collective Behavior”, <em>Phys. Rev. E</em>, <strong>104</strong>, 064309, (2021)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/DCGC8A6K/Diaz et al. - 2021 - Similar local neuronal dynamics may lead to differ.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.104.064309" target="_blank">DOI</a> | <a href="/assets/bib/sanchezdiaz2021.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Villegas, P., Cavagna, A., Cencini, M., Fort, H., and Grigera, T., “Joint Assessment of Density Correlations and Fluctuations for Analysing Spatial Tree Patterns”, <em>Royal Society Open Science</em>, <strong>8</strong>, 202200, (2021)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/N3857RJF/Villegas et al. - 2021 - Joint assessment of density correlations and fluct.pdf;/home/tomas/Zotero/storage/XLY6M3XB/rsos202200_si_001.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1098/rsos.202200" target="_blank">DOI</a> | <a href="/assets/bib/villegas2021.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2020</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Baglietto, G., Seif, A., Grigera, T., and Paul, W., “Otherwise Identical Particles with Differing, Fixed Speeds Demix under Time-Reversible Dynamics”, <em>Phys. Rev. E</em>, <strong>101</strong>, 062606, (2020)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/SJEFFH8P/Baglietto et al. - 2020 - Otherwise identical particles with differing, fixe.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.101.062606" target="_blank">DOI</a> | <a href="/assets/bib/baglietto2020.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Chialvo, D., Cannas, S., Grigera, T., Martin, D., and Plenz, D., “Controlling a Complex System near Its Critical Point via Temporal Correlations”, <em>Scientific Reports</em>, <strong>10</strong>, 1--7, (2020)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/MM3TFCMY/Chialvo et al. - 2020 - Controlling a complex system near its critical poi.pdf;/home/tomas/Zotero/storage/PXMGNQXL/41598_2020_69154_MOESM1_ESM.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1038/s41598-020-69154-0" target="_blank">DOI</a> | <a href="/assets/bib/chialvo2020.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2019</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Cavagna, A., Di Carlo, L., Giardina, I., Grandinetti, L., Grigera, T., and Pisegna, G., “Renormalization Group Crossover in the Critical Dynamics of Field Theories with Mode Coupling Terms”, <em>Phys. Rev. E</em>, <strong>100</strong>, 062130, (2019)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/WZKK48US/Cavagna et al. - 2019 - Renormalization group crossover in the critical dy.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.100.062130" target="_blank">DOI</a> | <a href="/assets/bib/cavagna2019.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Di Carlo, L., Giardina, I., Grandinetti, L., Grigera, T., and Pisegna, G., “Dynamical {{Renormalization Group Approach}} to the {{Collective Behavior}} of {{Swarms}}”, <em>Phys. Rev. Lett.</em>, <strong>123</strong>, 268001, (2019)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/4N8F67XQ/Cavagna et al. - 2019 - Dynamical Renormalization Group Approach to the Co.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevLett.123.268001" target="_blank">DOI</a> | <a href="/assets/bib/cavagna2019a.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Culla, A., Di Carlo, L., Giardina, I., and Grigera, T., “Low-Temperature Marginal Ferromagnetism Explains Anomalous Scale-Free Correlations in Natural Flocks”, <em>Comptes Rendus Physique</em>, <strong>20</strong>, 319--328, (2019)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/JVSTLTI3/Cavagna et al. - 2019 - Low-temperature marginal ferromagnetism explains a.pdf;/home/tomas/Zotero/storage/FX525495/S1631070519300374.html" target="_blank">PDF</a> | <a href="https://doi.org/10.1016/j.crhy.2019.05.008" target="_blank">DOI</a> | <a href="/assets/bib/cavagna2019b.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Martin, D., Grigera, T., and Marconi, V., “Speeding up the Study of Diluted Dipolar Systems”, <em>Phys. Rev. E</em>, <strong>99</strong>, 022604, (2019)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/CQXLYPF8/Martin et al. - 2019 - Speeding up the study of diluted dipolar systems.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.99.022604" target="_blank">DOI</a> | <a href="/assets/bib/Martin2019.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Rubio Puzzo, M., De Virgiliis, A., and Grigera, T., “Self-Propelled {{Vicsek}} Particles at Low Speed and Low Density”, <em>Phys. Rev. E</em>, <strong>99</strong>, 052602, (2019)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/UKQAJPIB/Rubio Puzzo et al. - 2019 - Self-propelled Vicsek particles at low speed and l.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.99.052602" target="_blank">DOI</a> | <a href="/assets/bib/rubiopuzzo2019.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2018</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Cavagna, A., Giardina, I., and Grigera, T., “The Physics of Flocking: {{Correlation}} as a Compass from Experiments to Theory”, <em>Physics Reports</em>, <strong>728</strong>, 1--62, (2018)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/NAZITRFC/Cavagna et al. - 2018 - The physics of flocking Correlation as a compass .pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1016/j.physrep.2017.11.003" target="_blank">DOI</a> | <a href="/assets/bib/cavagna_physics_2018.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Conti, D., Giardina, I., and Grigera, T., “Propagating Speed Waves in Flocks: {{A}} Mathematical Model”, <em>Physical Review E</em>, <strong>98</strong>, (2018)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/7A6ABWJR/Cavagna et al. - 2018 - Propagating speed waves in flocks A mathematical .pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.98.052404" target="_blank">DOI</a> | <a href="/assets/bib/cavagna2018.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2017</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Cavagna, A., Conti, D., Creato, C., Del Castello, L., Giardina, I., Grigera, T., Melillo, S., Parisi, L., and Viale, M., “Dynamic Scaling in Natural Swarms”, <em>Nature Phys.</em>, <strong>13</strong>, 914--918, (2017)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/5K8IVKHZ/nphys4153-s1.pdf;/home/tomas/Zotero/storage/HU9NMF5N/Cavagna et al. - 2017 - Dynamic scaling in natural swarms.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1038/nphys4153" target="_blank">DOI</a> | <a href="/assets/bib/cavagna_dynamic_2017.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Ferrara, C. and Grigera, T., “Dynamics and Structural Behavior of Water in Large Confinement with Planar Amorphous Walls”, <em>The Journal of Chemical Physics</em>, <strong>147</strong>, 024705, (2017)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/4UANWAUS/Ferrara and Grigera - 2017 - Dynamics and structural behavior of water in large.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1063/1.4991834" target="_blank">DOI</a> | <a href="/assets/bib/ferrara_dynamics_2017.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Loscar, E., Martin, D., and Grigera, T., “Stability Limits for the Supercooled Liquid and Superheated Crystal of {{Lennard-Jones}} Particles”, <em>J. Chem. Phys.</em>, <strong>147</strong>, 034504, (2017)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/PXWR2U25/Loscar et al. - 2017 - Stability limits for the supercooled liquid and su.pdf;/home/tomas/Zotero/storage/FH6PHMWZ/1.html" target="_blank">PDF</a> | <a href="https://doi.org/10.1063/1.4994049" target="_blank">DOI</a> | <a href="/assets/bib/loscar_stability_2017.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2016</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Cavagna, A., Conti, D., Giardina, I., Grigera, T., Melillo, S., and Viale, M., “Spatio-Temporal Correlations in Models of Collective Motion Ruled by Different Dynamical Laws”, <em>Phys. Biol.</em>, <strong>13</strong>, 065001, (2016)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/JQKCM8E2/Cavagna et al. - 2016 - Spatio-temporal correlations in models of collecti.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1088/1478-3975/13/6/065001" target="_blank">DOI</a> | <a href="/assets/bib/cavagna_spatio-temporal_2016.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Gradenigo, G., Trozzo, R., Cavagna, A., and Grigera, T., “Response to ``{{Comment}} on `{{Static}} Correlations Functions and Domain Walls in Glass-Forming Liquids: {{The}} Case of a Sandwich Geometry''' [{{J}}. {{Chem}}. {{Phys}}. 144, 227101 (2016)]”, <em>The Journal of Chemical Physics</em>, <strong>144</strong>, 227102, (2016)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/9VGTQSB6/Gradenigo et al. - 2016 - Response to “Comment on ‘Static correlations funct.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1063/1.4953615" target="_blank">DOI</a> | <a href="/assets/bib/gradenigo_response_2016.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Loscar, E., Ferrara, C., and Grigera, T., “Spinodals and Critical Point Using Short-Time Dynamics for a Simple Model of Liquid”, <em>J. Chem. Phys.</em>, <strong>144</strong>, 134501, (2016)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/QH5VZZPJ/Loscar et al. - 2016 - Spinodals and critical point using short-time dyna.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1063/1.4944926" target="_blank">DOI</a> | <a href="/assets/bib/loscar_spinodals_2016.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2015</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Cavagna, A., Giardina, I., Grigera, T., Jelic, A., Levine, D., Ramaswamy, S., and Viale, M., “Silent {{Flocks}}: {{Constraints}} on {{Signal Propagation Across Biological Groups}}”, <em>Phys. Rev. Lett.</em>, <strong>114</strong>, 218101, (2015)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/3B23J6EQ/Cavagna et al. - 2015 - Silent Flocks Constraints on Signal Propagation A.pdf;/home/tomas/Zotero/storage/49NQJ4SQ/Cavagna et al. - 2015 - Silent Flocks Constraints on Signal Propagation A.pdf;/home/tomas/Zotero/storage/C8RZ3D88/PhysRevLett.114.html" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevLett.114.218101" target="_blank">DOI</a> | <a href="/assets/bib/cavagna_silent_2015.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Grigera, S., Borzi, R., Slobinsky, D., Gibbs, A., Higashinaka, R., Maeno, Y., and Grigera, T., “An intermediate state between the kagome-ice and the fully polarized state in {Dy$_2$Ti$_2$O$_7$}”, <em>Papers in Physics</em>, <strong>7</strong>, 070009, (2015)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/83HMKKD8/Grigera et al. - 2015 - An intermediate state between the kagome-ice and t.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.4279/pip.070009" target="_blank">DOI</a> | <a href="/assets/bib/grigera_intermediate_2015.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      M{\'a}rtin, D., Cavagna, A., and Grigera, T., “Specific {{Heat Anomaly}} in a {{Supercooled Liquid}} with {{Amorphous Boundary Conditions}}”, <em>Phys. Rev. Lett.</em>, <strong>114</strong>, 225901, (2015)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/7A65N2PA/Mártin et al. - 2015 - Specific Heat Anomaly in a Supercooled Liquid with.pdf;/home/tomas/Zotero/storage/N5VFC345/lobsterSM.pdf;/home/tomas/Zotero/storage/FA4W7GGS/PhysRevLett.114.html" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevLett.114.225901" target="_blank">DOI</a> | <a href="/assets/bib/martin_specific_2015.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Seif, A., Loscar, E., and Grigera, T., “Aging and Crystallization in a Lattice Glass Model”, <em>Phys. Rev. E</em>, <strong>91</strong>, 042302, (2015)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/VR44KBXB/Seif et al. - 2015 - Aging and crystallization in a lattice glass model.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.91.042302" target="_blank">DOI</a> | <a href="/assets/bib/Seif2015.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2014</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Attanasi, A., Cavagna, A., Del Castello, L., Giardina, I., Grigera, T., Jeli{\'c}, A., Melillo, S., Parisi, L., Pohl, O., Shen, E., and Viale, M., “Information Transfer and Behavioural Inertia in Starling Flocks”, <em>Nature Phys.</em>, <strong>10</strong>, 691--696, (2014)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/G49FJTDA/2014_NaturePhys_10_691_S1.pdf;/home/tomas/Zotero/storage/GXNF55DQ/2014_NaturePhys_10_691.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1038/nphys3035" target="_blank">DOI</a> | <a href="/assets/bib/attanasi_information_2014.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Del Castello, L., Giardina, I., Grigera, T., Jelic, A., Melillo, S., Mora, T., Parisi, L., Silvestri, E., Viale, M., and Walczak, A., “Flocking and {{Turning}}: A {{New Model}} for {{Self-organized Collective Motion}}”, <em>J. Stat. Phys.</em>, <strong>158</strong>, 601--627, (2014)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/VNI3VP6A/Cavagna et al. - 2014 - Flocking and Turning a New Model for Self-organiz.pdf;/home/tomas/Zotero/storage/IM23ER9Z/s10955-014-1119-3.html" target="_blank">PDF</a> | <a href="https://doi.org/10.1007/s10955-014-1119-3" target="_blank">DOI</a> | <a href="/assets/bib/Cavagna2014.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2013</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Gradenigo, G., Trozzo, R., Cavagna, A., Grigera, T., and Verrocchio, P., “Static Correlations Functions and Domain Walls in Glass-Forming Liquids: {{The}} Case of a Sandwich Geometry”, <em>J. Chem. Phys.</em>, <strong>138</strong>, 12A509, (2013)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/9DP8JQB5/2013_JChemPhys_138_12A509.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1063/1.4771973" target="_blank">DOI</a> | <a href="/assets/bib/gradenigo_static_2013.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2012</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Cavagna, A., Grigera, T., and Verrocchio, P., “Dynamic Relaxation of a Liquid Cavity under Amorphous Boundary Conditions”, <em>J. Chem. Phys.</em>, <strong>136</strong>, 204502, (2012)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/5H4WINAE/2012_JChemPhys_136_204502.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1063/1.4720477" target="_blank">DOI</a> | <a href="/assets/bib/Cavagna2012.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2011</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Albano, E., Bab, M., Baglietto, G., Borzi, R., Grigera, T., Loscar, E., Rodriguez, D., Puzzo, M., and Saracco, G., “Study of Phase Transitions from Short-Time Non-Equilibrium Behaviour”, <em>Rep. Progr. Phys.</em>, <strong>74</strong>, 026501, (2011)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/R2QJWFSX/2011_RepProgrPhys_74_026501.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1088/0034-4885/74/2/026501" target="_blank">DOI</a> | <a href="/assets/bib/albano_study_2011.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Grigera, T., “Glsim: {{A}} General Library for Numerical Simulation”, <em>Comp. Phys. Comm.</em>, <strong>182</strong>, 2122--2131, (2011)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/RJH6HTZQ/2011_ComputerPhysComm_182_2122.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1016/j.cpc.2011.05.006" target="_blank">DOI</a> | <a href="/assets/bib/grigera_glsim:_2011.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Grigera, T., {Martin-Mayor}, V., Parisi, G., Urbani, P., and Verrocchio, P., “On the High-Density Expansion for {{Euclidean}} Random Matrices”, <em>J. Stat. Mech.</em>, <strong>2011</strong>, P02015, (2011)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/WESSPH65/2011_JStatMech_2011_02015.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1088/1742-5468/2011/02/P02015" target="_blank">DOI</a> | <a href="/assets/bib/grigera_high-density_2011.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2010</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Cammarota, C., Cavagna, A., Giardina, I., Gradenigo, G., Grigera, T., Parisi, G., and Verrocchio, P., “Phase-{{Separation Perspective}} on {{Dynamic Heterogeneities}} in {{Glass-Forming Liquids}}”, <em>Phys. Rev. Lett.</em>, <strong>105</strong>, 055703, (2010)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/2CIZA7UV/2010_PhysRevLett_105_055703.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevLett.105.055703" target="_blank">DOI</a> | <a href="/assets/bib/cammarota_phase-separation_2010.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Grigera, T., and Verrocchio, P., “Numerical Simulations of Liquids with Amorphous Boundary Conditions”, <em>J. Stat. Mech.</em>, <strong>2010</strong>, P10001, (2010)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/8PRB8V59/2010_JStatMech_2010_10001.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1088/1742-5468/2010/10/P10001" target="_blank">DOI</a> | <a href="/assets/bib/cavagna_numerical_2010.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Gradenigo, G., Sarracino, A., Villamaina, D., Grigera, T., and Puglisi, A., “The Ratchet Effect in an Ageing Glass”, <em>J. Stat. Mech.</em>, <strong>2010</strong>, L12002, (2010)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/5PC5SXDW/2010_JStatMech_2010_12002.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1088/1742-5468/2010/12/L12002" target="_blank">DOI</a> | <a href="/assets/bib/gradenigo_ratchet_2010.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2009</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Cammarota, C., Cavagna, A., Gradenigo, G., Grigera, T., and Verrocchio, P., “Evidence for a Spinodal Limit of Amorphous Excitations in Glassy Systems”, <em>J. Stat. Mech.</em>, <strong>2009</strong>, L12002, (2009)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/KB7IGUF3/2009_JStatMech_2009_12002.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1088/1742-5468/2009/12/L12002" target="_blank">DOI</a> | <a href="/assets/bib/cammarota_evidence_2009.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cammarota, C., Cavagna, A., Gradenigo, G., Grigera, T., and Verrocchio, P., “Numerical Determination of the Exponents Controlling the Relationship between Time, Length, and Temperature in Glass-Forming Liquids”, <em>J. Chem. Phys.</em>, <strong>131</strong>, 194901, (2009)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/QT3RQTPG/2009_JChemPhys_131_194901.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1063/1.3257739" target="_blank">DOI</a> | <a href="/assets/bib/cammarota_numerical_2009.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Loscar, E., Ferrero, E., Grigera, T., and Cannas, S., “Nonequilibrium Characterization of Spinodal Points Using Short Time Dynamics”, <em>J. Chem. Phys.</em>, <strong>131</strong>, 024120, (2009)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/4HAU368V/2009_JChemPhys_131_024120.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1063/1.3168404" target="_blank">DOI</a> | <a href="/assets/bib/loscar_nonequilibrium_2009.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2008</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Biroli, G., Bouchaud, J., Cavagna, A., Grigera, T., and Verrocchio, P., “Thermodynamic Signature of Growing Amorphous Order in Glass-Forming Liquids”, <em>Nature Phys.</em>, <strong>4</strong>, 771--775, (2008)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/MRTTFDQE/2008_NaturePhys_4_771.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1038/nphys1050" target="_blank">DOI</a> | <a href="/assets/bib/biroli_thermodynamic_2008.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2007</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Cavagna, A., Grigera, T., and Verrocchio, P., “Mosaic {{Multistate Scenario Versus One-State Description}} of {{Supercooled Liquids}}”, <em>Phys. Rev. Lett.</em>, <strong>98</strong>, 187801, (2007)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/NRFPKAB3/2007_PhysRevLett_98_187801.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevLett.98.187801" target="_blank">DOI</a> | <a href="/assets/bib/cavagna_mosaic_2007.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2006</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Grigera, T., “Geometrical Properties of the Potential Energy of the Soft-Sphere Binary Mixture”, <em>J. Chem. Phys.</em>, <strong>124</strong>, 064502, (2006)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/ENEN3H8I/2006_JChemPhys_124_064502.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1063/1.2151899" target="_blank">DOI</a> | <a href="/assets/bib/grigera_geometrical_2006.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2005</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Ciliberti, S., Grigera, T., {Mart{\'i}n-Mayor}, V., Parisi, G., and Verrocchio, P., “Anderson Localization in {{Euclidean}} Random Matrices”, <em>Phys. Rev. B</em>, <strong>71</strong>, 153104, (2005)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/WNXGM3CK/2005_PhysRevB_71_153104.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevB.71.153104" target="_blank">DOI</a> | <a href="/assets/bib/ciliberti_anderson_2005.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2004</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Ciliberti, S. and Grigera, T., “Localization Threshold of Instantaneous Normal Modes from Level-Spacing Statistics”, <em>Phys. Rev. E</em>, <strong>70</strong>, 061502, (2004)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/DTCDRFER/2004_PhysRevE_70_061502.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.70.061502" target="_blank">DOI</a> | <a href="/assets/bib/ciliberti_localization_2004.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Grigera, T., {Mart{\'i}n-Mayor}, V., Parisi, G., and Verrocchio, P., “Asymptotic Aging in Structural Glasses”, <em>Phys. Rev. B</em>, <strong>70</strong>, 014202, (2004)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/HDUSSCHE/2004_PhysRevB_70_014202.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevB.70.014202" target="_blank">DOI</a> | <a href="/assets/bib/grigera_asymptotic_2004.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2003</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Cavagna, A., Giardina, I., and Grigera, T., “Glass and Polycrystal States in a Lattice Spin Model”, <em>J. Chem. Phys.</em>, <strong>118</strong>, 6974, (2003)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/5ZJSDG3V/2003_JChemPhys_118_6974.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1063/1.1560937" target="_blank">DOI</a> | <a href="/assets/bib/cavagna_glass_2003.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Giardina, I., and Grigera, T., “Glassy Dynamics, Metastability Limit and Crystal Growth in a Lattice Spin Model”, <em>Europhys. Lett.</em>, <strong>61</strong>, 74--80, (2003)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/CEASXARM/2003_EurophysLett_61_74.pdf" target="_blank">PDF</a> | <a href="/assets/bib/cavagna_glassy_2003.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Cavagna, A., Giardina, I., and Grigera, T., “A Single Saddle Model for the {$\beta$}-Relaxation in Supercooled Liquids”, <em>J. Phys. A: Math. Gen.</em>, <strong>36</strong>, 10721, (2003)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/IGJMKNAV/2003_JPhysAMathGen_36_10721.pdf" target="_blank">PDF</a> | <a href="/assets/bib/cavagna_single_2003.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Ciliberti, S., Grigera, T., {Mart{\'i}n-Mayor}, V., Parisi, G., and Verrocchio, P., “Brillouin and Boson Peaks in Glasses from Vector {{Euclidean}} Random Matrix Theory”, <em>J. Chem. Phys.</em>, <strong>119</strong>, 8577, (2003)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/BFHKQKWT/2003_JChemPhys_119_8577.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1063/1.1610439" target="_blank">DOI</a> | <a href="/assets/bib/ciliberti_brillouin_2003.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Grigera, T., {Mart{\'i}n-Mayor}, V., Parisi, G., and Verrocchio, P., “Phonon Interpretation of the `boson Peak' in Supercooled Liquids”, <em>Nature</em>, <strong>422</strong>, 289--292, (2003)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/WQNJ8E2T/2003_Nature_422_289.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1038/nature01475" target="_blank">DOI</a> | <a href="/assets/bib/grigera_phonon_2003.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2002</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Grigera, S., Grigera, T., Righi, E., Nieva, G., and Cruz, F., “Flux-cutting in {YBa$_2$Cu$_3$O$_{7-\delta}$} revisited”, <em>Physica C: Superconductivity</em>, <strong>371</strong>, 237–242, (2002)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/A29EKEVC/2002_PhysicaC_371_237.pdf" target="_blank">PDF</a> | <a href="/assets/bib/grigera_flux-cutting_2002.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Grigera, T., Cavagna, A., Giardina, I., and Parisi, G., “Geometric {{Approach}} to the {{Dynamic Glass Transition}}”, <em>Phys. Rev. Lett.</em>, <strong>88</strong>, 055502, (2002)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/CAFXPAWT/2002_PhysRevLett_88_055502.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevLett.88.055502" target="_blank">DOI</a> | <a href="/assets/bib/grigera_geometric_2002.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Grigera, T. and Israeloff, N., “Numerical Study of Ageing in Coupled Two-Level Systems”, <em>Philos. Mag. B</em>, <strong>82</strong>, 313--322, (2002)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/ZFATQ4TX/2002_PhilosMagB_82_313.pdf" target="_blank">PDF</a> | <a href="/assets/bib/grigera_numerical_2002.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Grigera, T., Irurzun, I., Cortizo, M., Figini, R., and {Marx-Figini}, M., “Unified Analysis of Thermodynamic and Rheological Properties of High Polymer Solutions. {{I}}. {{Binary}} Systems”, <em>Journal of Polymer Science Part B: Polymer Physics</em>, <strong>40</strong>, 290--301, (2002)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/E5D77TKS/2002_JPolymSciBPolymPhys_40_290.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1002/polb.10089" target="_blank">DOI</a> | <a href="/assets/bib/grigera_unified_2002.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Grigera, T., {Mart{\'i}n-Mayor}, V., Parisi, G., and Verrocchio, P., “Vibrational Spectra in Glasses”, <em>Philos. Mag. B</em>, <strong>82</strong>, 637--649, (2002)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/VM7C2FC5/2002_PhilosMagB_82_637.pdf" target="_blank">PDF</a> | <a href="/assets/bib/grigera_vibrational_2002.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Grigera, T., {Mart{\'i}n-Mayor}, V., Parisi, G., and Verrocchio, P., “Vibrations in Glasses and {{Euclidean}} Random Matrix Theory”, <em>J. Phys.: Condens. Matter</em>, <strong>14</strong>, 2167, (2002)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/KU9MHXB6/2002_JPhysCondensMatter_14_2167.pdf" target="_blank">PDF</a> | <a href="/assets/bib/grigera_vibrations_2002.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Irurzun, I., Grigera, T., Cortizo, M., Figini, R., and {Marx-Figini}, M., “Unified Analysis of Thermodynamic and Rheological Properties of High Polymer Solutions. {{II}}. {{Ternary}} Systems”, <em>J. Pol. Sci. B: Polym. Phys.</em>, <strong>40</strong>, 1071--1079, (2002)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/3N8FXSPU/2002_JPolymSciBPolymPhys_40_1071.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1002/polb.10165" target="_blank">DOI</a> | <a href="/assets/bib/irurzun_unified_2002.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">2001</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Grigera, T. and Parisi, G., “Fast {{Monte Carlo}} Algorithm for Supercooled Soft Spheres”, <em>Phys. Rev. E</em>, <strong>63</strong>, 045102, (2001)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/3S5AP8ZD/2001_PhysRevE_63_045102.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevE.63.045102" target="_blank">DOI</a> | <a href="/assets/bib/grigera_fast_2001.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
    <li class="pub-item">
      Grigera, T., {Mart{\'i}n-Mayor}, V., Parisi, G., and Verrocchio, P., “Vibrational {{Spectrum}} of {{Topologically Disordered Systems}}”, <em>Phys. Rev. Lett.</em>, <strong>87</strong>, 085502, (2001)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/E46HAIQW/2001_PhysRevLett_87_085502.pdf" target="_blank">PDF</a> | <a href="https://doi.org/10.1103/PhysRevLett.87.085502" target="_blank">DOI</a> | <a href="/assets/bib/grigera_vibrational_2001.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">1999</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Grigera, T. and Israeloff, N., “Observation of Fluctuation-Dissipation-Theorem Violations in a Structural Glass”, <em>Phys. Rev. Lett.</em>, <strong>83</strong>, 5038--5041, (1999)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/S5ABZ93G/1999_PhysRevLett_83_5038.pdf" target="_blank">PDF</a> | <a href="/assets/bib/grigera_observation_1999.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">1998</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Israeloff, N. and Grigera, T., “Low-Frequency Dielectric Fluctuations near the Glass Transition”, <em>Europhys. Lett.</em>, <strong>43</strong>, 308--313, (1998)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/62K2HGDK/1998_EurophysLett_43_308.pdf" target="_blank">PDF</a> | <a href="/assets/bib/israeloff_low-frequency_1998.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">1997</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Grigera, S., Grigera, T., and Grigera, J., “Random Surface Deposition of Diffusing Dimers in Two Dimensions”, <em>Phys. Lett. A</em>, <strong>226</strong>, 124--126, (1997)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/XH3BXAUI/1997_PhysLettA_226_124.pdf" target="_blank">PDF</a> | <a href="/assets/bib/grigera_random_1997.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">1996</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Grigera, T. and Alessandrini, J., “Elastic Scattering from Diblock Copolymer Chains in Dilute Solution”, <em>J. Chem. Phys.</em>, <strong>104</strong>, 6027--6035, (1996)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/4RFRQSKI/1996_JChemPhys_104_6027.pdf" target="_blank">PDF</a> | <a href="/assets/bib/grigera_elastic_1996.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">1994</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Grigera, J., Grigera, T., Howard, E., and Podjarny, A., “Molecular {{Dynamics Simulation}} of {{Crystal Water}} with {{X-Ray Constraints}}”, <em>Int. J. Quantum Chem.</em>, <strong>21</strong>, (1994)
      
        <span class="pub-links">
          [<a href="/assets/bib/self:ijqc94.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

  <h2 class="pub-year">1991</h2>
  <ol class="pub-list">
  
    <li class="pub-item">
      Ceressetto, M., Grigera, T., {O'Donnel de Ju{\'a}rez Ar{\'a}oz}, B., Sandoval, J., and Garavaglia, M., “Sobre El Criterio de Resoluci{\'o}n de {{Rayleigh}} Para Fuentes Policrom{\'a}ticas”, <em>Anales de la Asoc. F{\'i}s. Arg.</em>, <strong>3</strong>, 192--195, (1991)
      
        <span class="pub-links">
          [<a href="/home/tomas/Zotero/storage/2CPUSE5Z/Ceressetto et al. - 1991 - Sobre el criterio de resolución de Rayleigh para f.pdf" target="_blank">PDF</a> | <a href="/assets/bib/ceressetto_sobre_1991.bib" download>BibTeX</a>]
        </span>
      
    </li>
  
  </ol>

</div>