{% assign author = site.author %}
{% if page.sidebar_info %}
{% assign info = page.sidebar_info %}
{% endif %}

  <aside class="sidebar">

    <div class="author__avatar">
      {% if info.avatar contains "://" %}
      <img src="{{ info.avatar }}" alt="{{ author.name }}"  fetchpriority="high" />
      {% else %}
      <img src="{{ author.avatar | prepend: "/assets/img/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}"  fetchpriority="high" />
      {% endif %}
    </div>

    {% assign bio = site.minibio[page.lang] %}
    <div class="author__content">
      <h3 class="author__name">{{ author.name }}</h3>
      <p class="author__bio">{{ bio }}</p>
    </div>

    <div class="sidebar-contact">
      <ul>
	{% if author.institutions %}
	{% for inst in author.institutions %}
        <li><a href="{{ inst.website }}"><i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>{{ inst.name }}</a></li>
	{% endfor %}
	{% endif %}
	{% if author.location %}
        <li><a href={{ author.location.maps }}><i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ author.location.name }}</a></li>
	{% endif %}
	{% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>Email</a></li>
	{% endif %}

	<!-- Font Awesome and Academicons icons / Academic websites -->
	<h2></h2>
	{% if author.arxiv %}
        <li><a href="{{ author.arxiv }}"><i class="ai ai-arxiv ai-fw icon-pad-right"></i>arXiv</a></li>
	{% endif %}      
	{% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar ai-fw icon-pad-right"></i>Google Scholar</a></li>
	{% endif %}
	{% if author.orcid %}
        <li><a href="{{ author.orcid }}"><i class="ai ai-orcid ai-fw icon-pad-right"></i>ORCID</a></li>
	{% endif %}
	{% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a></li>
	{% endif %}
	{% if author.stackoverflow %}
        <li><a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}"><i class="fab fa-fw fa-stack-overflow icon-pad-right" aria-hidden="true"></i>Stackoverflow</a></li>
	{% endif %}      

	<!-- Font Awesome icons / Social media -->
	{% if author.bluesky %}
        <li><a href="https://bsky.app/profile/{{ author.bluesky }}"><i class="fab fa-fw fa-bluesky icon-pad-right" aria-hidden="true"></i>Bluesky</a></li>
	{% endif %}
	{% if author.telegram %}
        <li><a href="{{ author.telegram }}"><i class="fab fa-fw fa-telegram icon-pad-right" aria-hidden="true"></i>Telegram</a></li>
	{% endif %}      
	{% if author.twitter %}
        <li><a href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-fw fa-x-twitter icon-pad-right" aria-hidden="true"></i>X</a></li>
	{% endif %}

      </ul>
    </div>

  </aside>
