<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/academicons.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-papet4..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  {% include top-navigation.html %}

  <div class="page-wrapper">

    <aside class="emptysidebar">
    </aside>

    <main class="content">
      {{ content }}
    </main>

</div>

{% include scripts.html %}

</body>
</html>
